.search {
    width: 600px;
    height: 250px;
    background-color: #FFFF;
    border-radius: 5px;
    border-style: groove;
    padding: 10px;
    border-width: .1px;
    border-left-color: #b6b6b6;
    border-top-color: #b6b6b6;
    background-color: #F5F5FC;
    box-shadow: 3px 3px 5px rgb(136, 135, 135);
    margin-bottom: 4%;
}

form {
    display: flex;
    flex-direction: column;
}